<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Webpack App</title>

  <link href="app.css" rel="stylesheet"></head>
  <body>
    <p>stuff here!</p>

    <div id="root"></div>

</body>
</html>
